.Shop {

    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-container {

    background-color: rgb(74, 76, 194);
}